<div ng-cloak>
    <h3 class="text-center"><u>Comptoir Vente En Détail </u></h3>
    <div class="container">
        <div class="row">
            <div class="btn-group" uib-dropdown>
                <button class="btn btn-primary" uib-dropdown-toggle>Caisse<b class="caret"></b></button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a ng-click="vm.active()">Ouverture</a></li>
                    <li><a ng-click="vm.desactive()">Fermeture</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <uib-alert class="col-lg-3" ng-show="!vm.caisseatif.active" close="closeAlert()" ng-if="show">
                Caisse Ferme.
            </uib-alert>
            <uib-alert type="{{alert.type}}" class="col-lg-6" ng-show="vm.caisseatif.active" close="closeAlert()"
                       ng-if="show">
                <p> {{vm.caisseatif.numcaisse}} ouvert: date ouverture: "{{vm.caisseatif.dateOuverture|
                    date:'medium'}}",
                    Fonds de caisse :{{vm.caisseatif.fondcaisse}}.</p>
            </uib-alert>


        </div>
    </div>
    <div class="container" style="margin-bottom: 15px" ng-show="vm.caisseatif.active">
        <fieldset>
            <legend>Choisir Client</legend>
            <div class="form-group">
                <div class="input-group bmd-collapse-inline">
                    <ui-select ng-model="vm.client">
                        <ui-select-match placeholder="Select or search a client in the list...">
                            {{$select.selected.nom}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in vm.clients | filter: $select.search">
                            <span>{{item.nom }}</span>

                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
              <button type="button" ui-sref="client.new" class="btn btn-default" uib-tooltip="new client">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
                </div>
            </div>
        </fieldset>

        <div class="form-inline">
            <fieldset>
                <legend></legend>
                <div class="input-group bmd-collapse-inline">
                    <ui-select ng-model="vm.article">
                        <ui-select-match placeholder="Select or search a article in the list...">
                            {{$select.selected.nomarticle}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in vm.articles | filter: $select.search">
                            <span>{{item.nomarticle }}</span>

                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="" for="field_gte">Quantite</label>
                    <input type="text" class="form-control" name="numcaisse" id="field_gte"
                           ng-model="qte"
                    />
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.validLineDetail(qte)">
                    <span class="glyphicon glyphicon-share"></span>&nbsp;<span data-translate=""></span>
                </button>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container" ng-show="vm.caisseatif.active">
        <table class="table table-striped table-bordered">
            <tr style="font-weight: bold">
                <td>Article</td>
                <td>Prix</td>
                <td>Quantite</td>
                <td>TaxeTVA</td>
                <td>Prix HT</td>
                <td>Prix TTC</td>
                <td><span ng-show="tableform.$visible">Action</span></td>
            </tr>
            </tr>
            <tr ng-repeat="user in lines | filter:filterUser">
                <td>
                    {{user.article.nomarticle}}
                </td>
                <td>

                    {{user.prix}}

                </td>
                <td>
                    {{ user.quantite}}

                </td>
                <td>
                    {{user.tva}}
                </td>
                <td>
                    {{user.prix*user.quantite}}
                </td>
                <td>
                    {{(user.prix*user.quantite)*user.tva*0.01+(user.prix*user.quantite)}}
                </td>
                <td>
                    <div class="buttons" ng-show="!tableform.$visible">
                        <button type="button" class=" btn-danger" ng-click="removeuser($index)"><span
                            class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
        </table>
        <u>TOTAL HT:</u><span class="badge btn-danger">{{getTotal()}}</span> <u>TOTAL TTC :</u><span
        class="badge btn-danger">{{getTotalTTC()}}</span>
        <div class="btn-form pull-right">
            <button type="button" class="btn btn-primary" ng-click="saveTable()">Valider</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">cancel</button>
        </div>
    </div>
    <div class="panel container" ng-if="paie">
        <div class="panel-body">
            <form class="form-inline" role="form" ng-submit="PrintFacture(facture)">
                <fieldset>
                    <legend>Paiement/Facture</legend>
                    <div class="form-group">
                        <!-- <label>Mode Payement:</label> -->
                        <select id="mode" class="form-control" required ng-model="mode">
                            <option value="">Mode Payement:</option>
                            <option value="caisse">Espece</option>
                            <option value="cheque">Cheque</option>
                            <option value="mtn">MTN/ORANGE</option>
                        </select>
                    </div>
                    <div class="form-group" ng-if="mode=='caisse'">
                        <label for="mtn">Montant:</label>
                        <input type="number" class="form-control" id="mtn">
                    </div>
                    <div class="form-group">
                        <!--  <label>Facture:</label> -->
                        <select id="facture" class="form-control" required ng-model="facture">
                            <option value="">Facture:</option>
                            <option value="fact1">FactureA4</option>
                            <option value="fact2">Tichet</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!--
<style>
        .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
        /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
        .select-box {
          background: #fff;
          position: relative;
          z-index: 1;
        }
        .alert-info.positioned {
          margin-top: 1em;
          position: relative;
          z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
        }

</style>
<div ng-cloak>

    <div class="well-sm">
        <h3>Comptoir Vente en detail</h3>
        <div class="btn-group" uib-dropdown>
            &lt;!&ndash;          <button type="button" class="btn dropdown pointer"uib-dropdown-toggle style="background-color: #00897B">Caisse</button> &ndash;&gt;
            <button class="btn btn-primary" uib-dropdown-toggle>Caisse<b class="caret"></b></button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li><a ng-click="vm.active()">Ouverture</a></li>
                <li><a ng-click="vm.desactive()">Fermeture</a></li>
            </ul>
        </div>
        <uib-alert type="{{alert.type}}" class="col-lg-6" ng-show="vm.caisseatif.active" close="closeAlert()"
                   ng-if="show">
            <p> {{vm.caisseatif.numcaisse}} ouvert: date ouverture: "{{vm.caisseatif.dateOuverture| date:'medium'}}",
                Fonds de caisse :{{vm.caisseatif.fondcaisse}}.</p>
        </uib-alert>
        <uib-alert class="col-lg-3" ng-show="!vm.caisseatif.active" close="closeAlert()" ng-if="show">
            Caisse Ferme.
        </uib-alert>

    </div>
    <div class="well" ng-show="vm.caisseatif.active">
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-body">

                        <fieldset>
                            <legend>Choisir Client</legend>
                            <div class="form-group">
                                <div class="input-group bmd-collapse-inline">
                                    <ui-select ng-model="vm.client">
                                        <ui-select-match placeholder="Select or search a client in the list...">
                                            {{$select.selected.nom}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in vm.clients | filter: $select.search">
                                            <span>{{item.nom }}</span>

                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
              <button type="button" ui-sref="client.new" class="btn btn-default" uib-tooltip="new client">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
                                </div>
                            </div>
                        </fieldset>
                        <table class="table table-hover table-condensed ">
                            <tr style="font-weight: bold">
                                <td>Article</td>
                                <td>Quantite</td>
                                <td><span ng-show="tableform.$visible">Action</span></td>
                            </tr>
                            <tr ng-repeat="user in lines | filter:filterUser">
                                <td>
    <span editable-ui-select="user.article" data-e-ng-model="state" data-e-style="min-width:200px;"
          e-form="tableform" ng-click="vm.getStockActif(state)">
      {{user.article.nomarticle}}
      <editable-ui-select-match placeholder="Choisir Article">
        {{$select.selected.nomarticle}}
      </editable-ui-select-match>
      <editable-ui-select-choices repeat="state in vm.articles | filter: $select.search track by $index">
        <div class="bmd-collapse-inline">{{state.nomarticle}}</div>
      <small>
        prix: {{state.prixCourant}}
      </small>
      </editable-ui-select-choices>
    </span>
                                </td>
                                <p>{{errortext}}</p>
                                <td>
          <span editable-text="user.quantite" e-form="tableform" data-e-style="max-width:110px;">
            {{ user.quantite}}
          </span>
                                </td>
                                <td style="white-space: nowrap">
                                    &lt;!&ndash; form &ndash;&gt;
                                    <form editable-form name="tableform" onaftersave="saveUser($data)"
                                          ng-show="tableform.$visible"
                                          class="form-buttons form-inline" shown="inserted == user">
                                        <button type="submit" ng-disabled="tableform$waiting"
                                                class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button type="button" ng-disabled="tableform.$waiting"
                                                ng-click="tableform.$cancel()"
                                                class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-move"></span>
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!tableform.$visible">
                                        <button type="button" class="btn btn-primary btn-raised btn-sm"
                                                ng-click="tableform.$show()">
                                            edit
                                        </button>
                                        <button type="button" class="btn btn-danger btn-raised btn-sm"
                                                ng-click="removeUser($index)">del
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-primary btn-raised" ng-click="addLine()">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="border: 2px">
                <div class="panel">

                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Prix</th>
                                <th>Quantite</th>
                                <th>Taxe</th>

                                <th>Montant Ht</th>
                                <th>Montant ttc</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat=" user in lines">
                                <td>{{ user.article.nomarticle}}</td>
                                <td>{{ user.article.prixCourant}}</td>
                                <td>{{ user.quantite}}</td>
                                <td>{{ user.article.taxeTva}}</td>
                                <td>{{ user.article.prixCourant*user.quantite}}</td>
                                <td>{{
                                    (user.article.prixCourant*user.quantite)+(user.article.prixCourant*user.article.taxeTva
                                    *0.01)}}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>TOTAL</td>
                                <td><span class="badge btn-danger">{{getTotal()}}</span></td>
                                <td><span class="badge btn-danger">{{getTotalTTC()}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-info btn-raised" ng-click="saveTable()">Valider</button>
                        <button type="button" class="btn btn-danger btn-raised" ng-click="cancel()">cancel</button>
                    </div>
                </div>
                <div class="panel" ng-if="paie">
                    <div class="panel-body">
                        <form class="form-inline" role="form" ng-submit="PrintFacture(facture)">
                            <fieldset>
                                <legend>Paiement/Facture</legend>
                                <div class="form-group">
                                    &lt;!&ndash; <label>Mode Payement:</label> &ndash;&gt;
                                    <select id="mode" class="form-control" required ng-model="mode">
                                        <option value="">Mode Payement:</option>
                                        <option value="caisse">Espece</option>
                                        <option value="cheque">Cheque</option>
                                        <option value="mtn">MTN/ORANGE</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-if="mode=='caisse'">
                                    <label for="pwd">Montant:</label>
                                    <input type="number" class="form-control" id="mtn">
                                </div>
                                <div class="form-group">
                                    &lt;!&ndash;  <label>Facture:</label> &ndash;&gt;
                                    <select id="facture" class="form-control" required ng-model="facture">
                                        <option value="">Facture:</option>
                                        <option value="fact1">FactureA4</option>
                                        <option value="fact2">Tichet</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
