<div ng-cloak>
    <!-- table -->
    <h3 class="text-center"> Vente gros </h3>
    <div class="container" style="margin-bottom: 15px">
        <fieldset>
            <legend>Choisir Client</legend>
            <div class="form-group">
                <div class="input-group bmd-collapse-inline">
                    <ui-select ng-model="vm.client">
                        <ui-select-match placeholder="Select or search a client in the list...">
                            {{$select.selected.nom}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in vm.clients | filter: $select.search">
                            <span>{{item.nom }}</span>

                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
              <button type="button" ui-sref="client.new" class="btn btn-default" uib-tooltip="new client">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
                </div>
            </div>
        </fieldset>

        <div class="form-inline">
            <fieldset>
                <legend></legend>
                <div class="input-group bmd-collapse-inline">
                <ui-select ng-model="vm.article">
                        <ui-select-match placeholder="Select or search a article in the list...">
                            {{$select.selected.nomarticle}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in vm.articles | filter: $select.search">
                            <span>{{item.nomarticle }}</span>

                        </ui-select-choices>
                    </ui-select></div>
                <div class="form-group">
                    <label class="control-label" data-translate="" for="field_gte">Quantite</label>
                    <input type="text" class="form-control" name="numcaisse" id="field_gte"
                           ng-model="qte"
                    />
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.validLineGros(qte)">
                    <span class="glyphicon glyphicon-share"></span>&nbsp;<span data-translate=""></span>
                </button>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <table class="table table-striped table-bordered">
            <tr style="font-weight: bold">
                <td>Article</td>
                <td>Prix</td>
                <td>Quantite</td>
                <td>TaxeTVA</td>
                <td>Prix HT</td>
                <td>Prix TTC</td>
                <td><span ng-show="tableform.$visible">Action</span></td>
            </tr>
            </tr>
            <tr ng-repeat="user in linesCode | filter:filterUser">
                <td>
                    {{user.article.nomarticle}}
                </td>
                <td>

                    {{user.prix}}

                </td>
                <td>
                    {{ user.quantite}}

                </td>
                <td>
                    {{user.tva}}
                </td>
                <td>
                    {{user.prix*user.quantite}}
                </td>
                <td>
                    {{(user.prix*user.quantite)*user.tva*0.01+(user.prix*user.quantite)}}
                </td>
                <td>
                    <div class="buttons" ng-show="!tableform.$visible">
                        <button type="button" class=" btn-danger" ng-click="removec($index)"><span
                            class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
        </table>

        <div class="btn-form pull-right">
            <button type="button" class="btn btn-primary" ng-click="saveTableCode()">Valider</button>
            <button type="button" class="btn btn-danger" ng-click="cancelCode()">cancel</button>
        </div>
    </div>
    <div class="panel container" ng-if="paie">
        <div class="panel-body">
            <form class="form-inline" role="form" ng-submit="PrintFacture(facture)">
                <fieldset>
                    <legend>Paiement/Facture</legend>
                    <div class="form-group">
                        <!-- <label>Mode Payement:</label> -->
                        <select id="mode" class="form-control" required ng-model="mode">
                            <option value="">Mode Payement:</option>
                            <option value="caisse">Espece</option>
                            <option value="cheque">Cheque</option>
                            <option value="mtn">MTN/ORANGE</option>
                        </select>
                    </div>
                    <div class="form-group" ng-if="mode=='caisse'">
                        <label for="mtn">Montant:</label>
                        <input type="number" class="form-control" id="mtn">
                    </div>
                    <div class="form-group">
                        <!--  <label>Facture:</label> -->
                        <select id="facture" class="form-control" required ng-model="facture">
                            <option value="">Facture:</option>
                            <option value="fact1">FactureA4</option>
                            <option value="fact2">Tichet</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
