<nav class="navbar navbar-default" role="navigation" ng-switch="vm.isAuthenticated()">
    <div class="container">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" >
            <ul class="nav navbar-nav">
                           <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span class="hidden-sm" data-translate="">
                                Produit
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                       <li ui-sref-active="active">
                                <a ui-sref="article" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Articles</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="famille-article" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Famille Article</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="forme-article" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Forme Article</span>
                                </a>
                            
                        </li>
                             
               </ul>
               </li>
                 <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                           
                            <span class="hidden-sm" data-translate="">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>  Achats
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                       <li ui-sref-active="active">
                                <a ui-sref="commande" ng-click="vm.collapseNavbar()">
                                    <span class=""></span>&nbsp;
                                    <span data-translate=""><i class="fa fa-history" aria-hidden="true"></i>Historique</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="mouv" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Commande</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="ligne-commande" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Liste Commandes</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="mouvement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Facture</span>
                                </a>
                            
                        </li>
               </ul>
               </li>
                                         <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                           <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            <span class="hidden-sm" data-translate="">
                                Ventes
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                       <li ui-sref-active="active">
                                <a ui-sref="comptoir" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Comptoir Détail </span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="facture-user" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Mes Factures</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                          </li>
                              <li ui-sref-active="active">
                                <a ui-sref="sortie-article-user" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Mes ventes</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="facture" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Facture</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="mouvement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Reglement client</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="mouvement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Retour client</span>
                                </a>
                            
                        </li>
               </ul>
               </li>
             <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown dropdown >
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <i class="fa fa-database" aria-hidden="true"></i>
                            <span class="hidden-sm" data-translate="">
                                Stock
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                       <li ui-sref-active="active">
                                <a ui-sref="stock" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">stock</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="mouvement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Approvisionnement </span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="entree-article" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Entree Article</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="ligne-entree-article" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Ligne Entree</span>
                                </a>
                            
                        </li>
               </ul>
               </li>
               <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown dropdown >
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                           <i class="fa fa-archive" aria-hidden="true"></i>
                            <span class="hidden-sm" data-translate="">
                               Rapport
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                       <li ui-sref-active="active">
                                <a ui-sref="caisse" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">caisse</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="mouvement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">creance</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="mouvement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Dette</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="mouvement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Achat</span>
                                </a>
                            
                        </li>
               </ul>
               </li>
               <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown dropdown >
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span class="hidden-sm" data-translate="">
                             Fournisseur/Client
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                              <li ui-sref-active="active">
                                <a ui-sref="fournisseur" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Fournisseur</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="client" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Client</span>
                                </a>
                            
                        </li>
               </ul>
               </li>
               <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown dropdown class="pull-right" >
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                           <i class="fa fa-wrench" aria-hidden="true"></i>
                            <span class="hidden-sm" data-translate="">
                                Parametre
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                       <li ui-sref-active="active">
                                <a ui-sref="decomposition" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Decomposition</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="etiquette" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Etiquette</span>
                                </a>
                            <div class="divider"></div>
                        </li>
                              <li ui-sref-active="active">
                                <a ui-sref="type-sortie-article" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="">Type Sortie</span>
                                </a>
                             <div class="divider"></div>
                        </li>
                           <li ui-sref-active="active">
                                <a ui-sref="magasin" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.magasin">Magasin</span>
                                </a>
                            </li>     
               </ul>
               </li>                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
