
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEtiquetteLabel" data-translate="gestCApp.etiquette.home.createOrEditLabel">Create or edit a Etiquette</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.etiquette.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.etiquette.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.etiquette.etiquette" for="field_etiquette">Etiquette</label>
            <input type="text" class="form-control" name="etiquette" id="field_etiquette"
                    ng-model="vm.etiquette.etiquette"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.etiquette.codeBare" for="field_codeBare">Code Bare</label>
            <input type="text" class="form-control" name="codeBare" id="field_codeBare"
                    ng-model="vm.etiquette.codeBare"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.etiquette.dateCreation" for="field_dateCreation">Date Creation</label>
                <div class="input-group">
                    <input id="field_dateCreation" type="text" class="form-control" name="dateCreation" datetime-picker="{{dateformat}}" ng-model="vm.etiquette.dateCreation" is-open="vm.datePickerOpenStatus.dateCreation"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCreation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.etiquette.dateCrea" for="field_dateCrea">Date Crea</label>
                <div class="input-group">
                    <input id="field_dateCrea" type="text" class="form-control" name="dateCrea" datetime-picker="{{dateformat}}" ng-model="vm.etiquette.dateCrea" is-open="vm.datePickerOpenStatus.dateCrea"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCrea')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="gestCApp.etiquette.article" for="field_article">Article</label>
            <select class="form-control" id="field_article" name="article" ng-model="vm.etiquette.article" ng-options="article as article.id for article in vm.articles | orderBy:'id' track by article.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
