<div>
    <h2 data-translate="gestCApp.ligneCommande.home.title">Ligne Commandes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
          <!--   <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ligne-commande.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="gestCApp.ligneCommande.home.createLabel">
                        Create new Ligne Commande
                    </span>
                </button>
            </div> -->
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gestCApp.ligneCommande.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="designation"><span data-translate="gestCApp.ligneCommande.designation">Designation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantite"><span data-translate="gestCApp.ligneCommande.quantite">Quantite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="montanttotalht"><span data-translate="gestCApp.ligneCommande.montanttotalht">Montanttotalht</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="montanttotalttc"><span data-translate="gestCApp.ligneCommande.montanttotalttc">Montanttotalttc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prix"><span data-translate="gestCApp.ligneCommande.prix">Prix</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxeTva"><span data-translate="gestCApp.ligneCommande.taxeTva">Taxe Tva</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="agent.login"><span data-translate="gestCApp.ligneCommande.agent">Agent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="article.id"><span data-translate="gestCApp.ligneCommande.article">Article</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commande.id"><span data-translate="gestCApp.ligneCommande.commande">Commande</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fournisseur.id"><span data-translate="gestCApp.ligneCommande.fournisseur">Fournisseur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ligneCommande in vm.ligneCommandes track by ligneCommande.id">
                    <td><a ui-sref="ligne-commande-detail({id:ligneCommande.id})">{{ligneCommande.id}}</a></td>
                    <td>{{ligneCommande.designation}}</td>
                    <td>{{ligneCommande.quantite}}</td>
                    <td>{{ligneCommande.montanttotalht}}</td>
                    <td>{{ligneCommande.montanttotalttc}}</td>
                    <td>{{ligneCommande.prix}}</td>
                    <td>{{ligneCommande.taxeTva}}</td>
                    <td>
                        {{ligneCommande.agent.login}}
                    </td>
                    <td>
                        <a ui-sref="article-detail({id:ligneCommande.article.id})">{{ligneCommande.article.nomarticle}}</a>
                    </td>
                    <td>
                        <a ui-sref="commande-detail({id:ligneCommande.commande.id})">{{ligneCommande.commande.numcommande}}</a>
                    </td>
                    <td>
                        <a ui-sref="fournisseur-detail({id:ligneCommande.fournisseur.id})">{{ligneCommande.fournisseur.nomcomplet}}</a>
                    </td>
                    <td class="text-right" has-authority="ROLE_ADMIN" >
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ligne-commande-detail({id:ligneCommande.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ligne-commande.edit({id:ligneCommande.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ligne-commande.delete({id:ligneCommande.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
