<div>
    <h2 data-translate="gestCApp.client.home.title">Clients</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn-raised btn btn-primary" ui-sref="client.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="gestCApp.client.home.createLabel">
                        Create new Client
                    </span>
                </button>
            </div>
            <div class="col-xs-6 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gestCApp.client.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>           <div class="btn-group col-xs-2"> 
                       <a ng-click="printListeClient()"><img src="content/images/pdf.png "/></a>
            <a ng-click="printListeClientXls()"><img src="content/images/exel.jpeg "/></a>

            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nom"><span data-translate="gestCApp.client.nom">Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="civilite"><span data-translate="gestCApp.client.civilite">Civilite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reduction"><span data-translate="gestCApp.client.reduction">Reduction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telephone"><span data-translate="gestCApp.client.telephone">Telephone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="gestCApp.client.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in vm.clients track by client.id">
                    <td><a ui-sref="client-detail({id:client.id})">{{client.id}}</a></td>
                    <td>{{client.nom}}</td>
                    <td>{{client.civilite}}</td>
                    <td>{{client.reduction}}</td>
                    <td>{{client.telephone}}</td>
                    <td>{{client.email}}</td>
                    <td class="text-right" has-authority="ROLE_ADMIN" >
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="client-detail({id:client.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client.edit({id:client.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client.delete({id:client.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
