
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientLabel" data-translate="gestCApp.client.home.createOrEditLabel">Create or edit a Client</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.client.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.client.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.client.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.client.nom"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.client.civilite" for="field_civilite">Civilite</label>
            <input type="text" class="form-control" name="civilite" id="field_civilite"
                    ng-model="vm.client.civilite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.client.reduction" for="field_reduction">Reduction</label>
            <input type="number" class="form-control" name="reduction" id="field_reduction"
                    ng-model="vm.client.reduction"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.client.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                    ng-model="vm.client.telephone"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestCApp.client.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.client.email"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
