<div class="container-fluid">
    <h3>Statistiques Sur les Clients et Fournisseurs </h3>
    <uib-tabset active="active" justified="true" class="tab-style">
        <uib-tab index="0" heading="Produits Achetes">
            <div class="row">
                <div class="col-md-5">
                    <h4 data-translate="audits.filter.title">Filter by date</h4>
                    <p class="input-group">
                        <span class="input-group-addon" data-translate="audits.filter.from">from</span>
                        <input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate"
                               ng-change="vm.onChangeDate()" required/>
                        <span class="input-group-addon" data-translate="audits.filter.to">to</span>
                        <input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate"
                               ng-change="vm.onChangeDate()" required/>
                    </p>
                </div>
            </div>
            <div class="panel panel-default col-lg-6">
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie ng-isolate-scope" chart-data="dataclient"
                            chart-options="options" chart-labels="labelsclient"></canvas>
                </div>
            </div>
            <div class="panel panel-default col-lg-6">
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar ng-isolate-scope" chart-data="dataclient"
                            chart-options="options" chart-labels="labelsclient"></canvas>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>


</div>
