<div>
    <h2 data-translate="gestCApp.decomposition.home.title">Decompositions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
<!--             <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="decomposition.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="gestCApp.decomposition.home.createLabel">
                        Create new Decomposition
                    </span>
                </button>
            </div> -->
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gestCApp.decomposition.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="articledepart"><span data-translate="gestCApp.decomposition.articledepart">Articledepart</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="articlefin"><span data-translate="gestCApp.decomposition.articlefin">Articlefin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantite"><span data-translate="gestCApp.decomposition.quantite">Quantite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="etat"><span data-translate="gestCApp.decomposition.etat">Etat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="article.y"><span data-translate="gestCApp.decomposition.article">Article</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="decomposition in vm.decompositions track by decomposition.id">
                    <td><a ui-sref="decomposition-detail({id:decomposition.id})">{{decomposition.id}}</a></td>
                    <td>{{decomposition.articledepart}}</td>
                    <td>{{decomposition.articlefin}}</td>
                    <td>{{decomposition.quantite}}</td>
                    <td>{{decomposition.etat}}</td>
                    <td>
                        <a ui-sref="article-detail({id:decomposition.article.id})">{{decomposition.article.nomarticle}}</a>
                    </td>
                    <td class="text-right" has-authority="ROLE_ADMIN" >
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="decomposition-detail({id:decomposition.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="decomposition.edit({id:decomposition.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="decomposition.delete({id:decomposition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
